* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Montserrat sans-serif;
}
.container {
  margin: 0 auto;
  height: 1626px;
  width: 1280px;
}
.header {
  display: inline-block;
  width: 100%;
  height: 78px;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  display: inline-block;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 25px;
}
.nav-a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.700000047683716px;
  color: #ff0000;
}
.nav-li {
  display: inline-block;
  margin-right: 72px;
}
.nav-li:last-child {
  margin-right: 0px;
}
.img-container {
  width: 100%;
  height: 789px;
}
.main-container {
  position: relative;
  width: 100%;
}
.main-header {
  margin-top: 49px;
  margin-bottom: 39px;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 3.299999952316284px;
  text-transform: uppercase;
}
.article-container .content {
  margin: 0 auto;
  width: 1145px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.4000000953674316px;
  text-align: center;
}
.content:last-child {
  margin-top: 28px;
}
.aside-btn {
  display: inline-block;
  margin: 84px 540px 42px 540px;
}
.btn {
  text-decoration: none;
  padding: 18px 43.5px 18px 42.5px;
  background-color: red;
  border-radius: 4px;
  height: 51px;
  width: 191px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.7999999523162842px;
  color: white;
}
.footer {
  width: 100%;
  height: 108px;
}
.footer-content {
  padding-top: 40px;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.4000000953674316px;
}
